amqp==5.2.0
asgiref==3.8.1
billiard==4.2.0
boto3==1.35.5
botocore==1.35.5
cachetools==5.4.0
celery==5.4.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==43.0.0
defusedxml==0.8.0rc2
Django==5.1
django-allauth==64.0.0
django-cors-headers==4.4.0
django-environ==0.11.2
django-filter==24.3
django-storages==1.14.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
environ==1.0
git-filter-repo==2.45.0
google-api-core==2.19.1
google-auth==2.33.0
google-cloud-recaptcha-enterprise==1.21.2
googleapis-common-protos==1.63.2
grpcio==1.65.5
grpcio-status==1.65.5
idna==3.7
jmespath==1.0.1
kombu==5.4.0
oauthlib==3.2.2
pillow==10.4.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==5.27.3
psycopg2==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyJWT==2.9.0
pyotp==2.9.0
python-dateutil==2.9.0.post0
python3-openid==3.2.0
redis==5.0.8
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.10.2
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
stripe==10.8.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
